﻿<div ng-controller="CalendarController">
    <div id='calendar'></div>

    <!--addEventTableModal-->
    <div class="modal fade" id="addEventTableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add event</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" ng-model="newEvent.name">
                    </div>
                    <div class="form-group">
                        <label for="place">Place:</label>
                        <input type="text" class="form-control" id="place" ng-model="newEvent.place">
                    </div>
                    <div class="form-group">
                        <label for="desc">Description:</label>
                        <input type="text" class="form-control" id="desc" ng-model="newEvent.description">
                    </div>
                    <div class="form-group">
                        <label for="startdate">Start date:</label>
                        <input type="text" class="form-control" id="startdate" ng-model="newEvent.startDate">
                    </div>
                    <div class="form-group">
                        <label for="enddate">End date:</label>
                        <input type="text" class="form-control" id="enddate" ng-model="newEvent.endDate">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="newEvent.important">Important</label>
                    </div>
                    <div class="form-group">
                        <label for="tag">Select list:</label>
                        <select class="form-control" id="tag" ng-model="newEvent.color">
                            <option value="#4169E1">Test Tag</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="addEvent()">Add event</button>
                </div>
            </div>
        </div>
    </div>
</div>
