﻿<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CalendarApp</a>
        <ul class="nav navbar-nav navbar-right"><li><a href="#/login"><span class="glyphicon glyphicon-log-out"></span>Log out</a></li></ul>
    </div>
</nav>
<div class="row">
    <div class="col-lg-3">
        <div class="panel">
            <div class="panel-body">
                <div ng-include="'app/partials/userPartial.html'"></div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div ng-include="'app/partials/tagsPartial.html'"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="panel">
            <div class="panel-body">
                <!--Calendar-->
                <div ng-include="'app/partials/calendarPartial.html'"></div>
                <!--/Calendar-->

            </div>
        </div>
    </div>
</div>
