﻿<div ng-controller="TagsController">
    <ul class="list-group">
        <li ng-repeat="tag in tags" class="list-group-item">
            <div class="media">
                <div class="media-left">
                    <img src={{tag.color}} class="media-object img-thumbnail" />
                </div>
                <div class="media-body">
                    <h5>{{tag.name}}</h5>
                </div>
                <div class="media-right">
                    <button type="button" class="btn btn-danger" aria-label="Left Align" ng-click="deleteTag(tag)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media">
                <div class="media-left">
                    <img src={{newTagColor}} class="media-object img-thumbnail" data-toggle="modal" data-target="#colorModal" />
                    <!--Color Modal-->
                    <div class="modal fade" id="colorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Choose color</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="image">Image:</label>
                                        <br />
                                        <label class="radio-inline"><input type="radio" name="image" ng-model="newTagColor" value="https://placeholdit.imgix.net/~text?txtsize=5&bg=99fd99&txtclr=000000&txt=&w=20&h=20&txtpad=1"><img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=5&bg=99fd99&txtclr=000000&txt=&w=20&h=20&txtpad=1" /></label>
                                        <label class="radio-inline"><input type="radio" name="image" ng-model="newTagColor" value="https://placeholdit.imgix.net/~text?txtsize=5&bg=DC143C&txtclr=000000&txt=&w=20&h=20&txtpad=1"><img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=5&bg=DC143C&txtclr=000000&txt=&w=20&h=20&txtpad=1" /></label>
                                        <label class="radio-inline"><input type="radio" name="image" ng-model="newTagColor" value="https://placeholdit.imgix.net/~text?txtsize=5&bg=4169E1&txtclr=000000&txt=&w=20&h=20&txtpad=1"><img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=5&bg=4169E1&txtclr=000000&txt=&w=20&h=20&txtpad=1" /></label>
                                        <label class="radio-inline"><input type="radio" name="image" ng-model="newTagColor" value="https://placeholdit.imgix.net/~text?txtsize=5&bg=EEEE00&txtclr=000000&txt=&w=20&h=20&txtpad=1"><img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=5&bg=EEEE00&txtclr=000000&txt=&w=20&h=20&txtpad=1" /></label>
                                        <label class="radio-inline"><input type="radio" name="image" ng-model="newTagColor" value="https://placeholdit.imgix.net/~text?txtsize=5&bg=FF8000&txtclr=000000&txt=&w=20&h=20&txtpad=1"><img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=5&bg=FF8000&txtclr=000000&txt=&w=20&h=20&txtpad=1" /></label>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/Color Modal -->
                </div>
                <div class="media-body">
                    <input type="text" ng-model="newTagName" placeholder="tag name..." class="form-control" />
                </div>
                <div class="media-right">
                    <button type="button" class="btn btn-success" aria-label="Left Align" ng-click="addTag()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>
