﻿<div ng-controller="UserController">
    <div class="media">
        <div class="media-left">
            <img class="media-object" src={{user.image}} />
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{user.name}}</h4>
            <p>{{user.email}}</p> <p>{{works}}</p>
        </div>
        <div class="media-right">
            <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#userEditModal" ng-click="userEditOpen()">
                Modify
            </button>
            <!-- Modals -->
            <div class="modal fade" id="userEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Edit user account</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" ng-model="editUser.name">
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail:</label>
                                <input type="text" class="form-control" id="email" ng-model="editUser.email">
                            </div>
                            <div class="form-group">
                                <label for="pass">Password:</label>
                                <input type="password" class="form-control" id="pass" ng-model="editUser.password">
                            </div>

                            <div class="form-group">
                                <label for="image">Image:</label>
                                <br />
                                <label class="radio-inline"><input type="radio" name="image" ng-model="editUser.image" value="https://placeholdit.imgix.net/~text?txtsize=30&txt=A&w=64&h=64"><img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=30&txt=A&w=64&h=64" /></label>
                                <label class="radio-inline"><input type="radio" name="image" ng-model="editUser.image" value="https://placeholdit.imgix.net/~text?txtsize=30&txt=B&w=64&h=64"><img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=30&txt=B&w=64&h=64" /></label>
                                <label class="radio-inline"><input type="radio" name="image" ng-model="editUser.image" value="https://placeholdit.imgix.net/~text?txtsize=30&txt=C&w=64&h=64"><img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=30&txt=C&w=64&h=64" /></label>
                                <label class="radio-inline"><input type="radio" name="image" ng-model="editUser.image" value="https://placeholdit.imgix.net/~text?txtsize=30&txt=D&w=64&h=64"><img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=30&txt=D&w=64&h=64" /></label>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="changeUser()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
